<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <div class="container d-flex justify-content-center align-items-center mt-5" >
        <div class="card rounded p-4" style="width: 500px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
            <h2 class="text-center">Enter email</h2>
            <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <% } %>
            <form action="/reset" method="POST">
                <div class="form-group">
                    <label for="email"><i class="fas fa-user"></i> Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"  value="<%= oldInput.email %>" required>
                </div>
                <button type="submit" class="btn btn-block" style="background-color: #EB6E4B; color: white;">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>